@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Inventory Control WebPage</h1>
    <p>Designed by Juan D. Elizabeth</p>
</div>
