@page
@model IndexModel

<!-- Inventory Home Page -->

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Inventory Control WebPage</h1>
    <h4>Welcome!</h4>
</div>
